/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, sass/screen.scss */
body {
  background: #ccc;
  font-family: verdana;
}

/* line 14, sass/screen.scss */
span.add-btn {
  background: url("../images/add.png") no-repeat left center !important;
}

/* line 18, sass/screen.scss */
header {
  height: 30px;
}
/* line 20, sass/screen.scss */
header h1 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 0 15px;
}

/* line 28, sass/screen.scss */
#toolbar {
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  background: #aaa;
  height: 60px;
  width: 100%;
}

/* line 35, sass/screen.scss */
aside {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  background: #ddd;
  float: left;
  margin: 25px 15px 25px -10px;
  padding: 15px;
  width: 120px;
}

/* line 44, sass/screen.scss */
aside li a {
  color: #333;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}

/* line 51, sass/screen.scss */
aside li a:hover,
aside li a:active {
  background: #fff;
}

/* line 55, sass/screen.scss */
#content {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  background: #ddd;
  margin: 25px 50px 25px 160px;
  padding: 15px;
}

/* line 63, sass/screen.scss */
table {
  margin: 20px 0;
  width: 100%;
}

/* line 67, sass/screen.scss */
table th {
  background: #b9c9fe;
  color: #003399;
  font-weight: normal;
  padding: 8px;
}

/* line 73, sass/screen.scss */
table td {
  background: none repeat scroll 0 0 #e8edff;
  border-top: 1px solid #fff;
  color: #666699;
  padding: 8px;
}

/* line 79, sass/screen.scss */
table tr:hover td {
  background: none repeat scroll 0 0 #d0dafd;
  color: #333399;
}

/* line 83, sass/screen.scss */
a.edit-transaction, a.delete-transaction {
  background: url(../images/wrench.png) no-repeat left center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 30px;
}

/* line 90, sass/screen.scss */
a.delete-transaction {
  background: url(../images/delete.png) no-repeat left center;
}

/* line 95, sass/screen.scss */
div.form-row {
  margin: 10px 0;
}

/* line 98, sass/screen.scss */
div.form-row label {
  float: left;
  width: 200px;
}

/* line 103, sass/screen.scss */
div.form-row input,
div.form-row textarea {
  width: 300px;
}
