<ul class="breadcrumb">
  <li><a href="/#banking">Banking</a> <span class="divider">/</span></li>
  <li class="active"><%= model.get('name') %></li>
</ul>

<h1><%= model.get('name') %></h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab-overview" data-toggle="tab">Overview</a></li>
  <li><a href="#tab-transactions" data-toggle="tab">Transactions</a></li>
  <li><a href="#tab-bank-account" data-toggle="tab">Settings</a></li>
  <li><a href="#tab-import" data-toggle="tab">Import</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab-overview">
  </div>
  <div class="tab-pane" id="tab-transactions">
  </div>
  <div class="tab-pane" id="tab-bank-account">
  </div>
  <div class="tab-pane" id="tab-import">
  </div>
</div>

