<div class="modal" id="modal-window">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= title %></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn-close btn">Close</a>
    <a href="#" class="btn-submit btn btn-primary"><%= saveText ? saveText : "Submit" %></a>
  </div>
</div>
