<form class="well form-search">
  <input type="text" class="input-large search-query" name="query">
  <button type="submit" class="btn">Update</button>
</form>

<h2>Balance: 0 EUR</h2>

<div class="graph"></div>
