<form id="it-form" class="form-horizontal" action="/api/banks/<%= bankId %>/transactions/import" method="post">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="it-file">Select CSV File</label>
      <div class="controls">
        <input type="file" class="input-xlarge" id="it-file" name="file">
      </div>
    </div>
    <div class="form-actions">
      <button id="it-submit" type="submit" class="btn btn-primary">Import Transactions</button>
    </div>
  </fieldset>
</form>
