// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content h1 {
  margin-bottom: 15px;
}

#alerts {
  position: fixed;
  right: 25px;
  top: 50px;
  width: 400px;
}
#alerts div.alert {
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
}
