<% title "Transactions" %>

<p><%= link_to "New Transaction", new_transaction_path %></p>

<table id="data-table">
	<thead>
  	<tr>
	    <th>Account</th>
	    <th>Date</th>
	    <th>Description</th>
	    <th>Amount</th>
	    <th>Note</th>
	  </tr>
	</thead>
	<tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
	</tbody>
</table>
