<% javascript "jquery.dataTables.min" %>
<% stylesheet "table_jui.css", "themes/smoothness/jquery-ui-1.7.2.custom" %>

<% title "Transactions" %>

<p><%= link_to "New Transaction", new_transaction_path %></p>

<%= render :partial => 'data_table' %>
